#table-5 {
    margin-left: 300px;
    margin-top: 50px;
}

#table-5 thead th {
    background-color: rgb(221, 173, 230);
    color: #fff;
    border-bottom-width: 0;
}

#table-5 td {
    color: #000;
}

#table-5 tr,
#table-5 th {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(221, 173, 230);
}

#table-5 td,
#table-5 th {
    padding: 5px 10px;
    font-size: 25px;
    font-family: Verdana;
    font-weight: bold;
}

a {
    text-decoration:none;
}